// Project page

.case__meta {
	font-family: 'Acumin Pro Wide', sans-serif;
	font-weight: 400;
	font-size: 16px;
	@media #{$breakpoint-md} {
		font-size: 18px;
	}

}

.case__top {
	text-align: center;
	position: relative;
	margin-top: 80px;
	margin-bottom: 30px;

	@media #{$breakpoint-md} {
		margin-top: 130px;
	}

	@media #{$breakpoint-ml} {
		margin-top: 60px;
	}
	
}

.h1--project {
	font-size: 36px;
	@media #{$breakpoint-md} {
		font-size: 70px;
	}
}

.case__hero-wrap {
	right: 0;
    z-index: -1000;
    position: relative;
	overflow: hidden;
	margin-bottom: 50px;

	@media #{$breakpoint-ml} {
		margin-bottom: 80px;
	}
}

.case__hero-wrap--landscape {
	padding-bottom: 65%;
}

.case__hero-wrap--portrait {
	padding-bottom: 120%;
}


.case__hero-img {
	width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    backface-visibility: hidden;
    
    background-image: url('images/lavida.jpg');
}

.case__headline {
	position: absolute;
	top: -50px;

	@media #{$breakpoint-md} {
		top: -85px;
	}
}

.case__lead {
	font-size: 24px;
	line-height: 36px;

	@media #{$breakpoint-ml} {
		font-size: 30px;
		line-height: 44px;
	}
}

// blocks

.case__text--right {
	margin-bottom: 30px;
	@media #{$breakpoint-ml} {
		margin-bottom: 50px;
	}
}

.case__text--left {
	margin-bottom: 30px;
	@media #{$breakpoint-ml} {
		margin-bottom: 50px;
	}
}

.case__two-images {
	margin-bottom: 30px;
	@media #{$breakpoint-ml} {
		margin-bottom: 50px;
	}
}

.case__wide-image + .case__text {
	margin-top: 30px;
	@media #{$breakpoint-ml} {
		margin-top: 50px;
	}
}


.case__wide-image-img {
	width: 100%;
}

.full-width-image-2 {
	width: 100%;
	display: inline-block;

	@media #{$breakpoint-palm} {
		width: 50%;
	}
}


// next project

.next-project {
	a {
		text-decoration: none;

	}
}

.next-project__link {
	display: block;

	&:hover {

		.next-project__title {
			color: rgba(255,255,255,0);
			-webkit-text-stroke: 1px black;
		}
	}
}

.next-project__wrap {
	text-align: center;
	padding: 50px 0;
	@media #{$breakpoint-md} {
		padding: 150px 0;
	}
}

.next-project__title {
	display: block;
	font-size: 25px;
	font-family: 'Eczar semibold', serif;

	@media #{$breakpoint-md} {
		font-size: 60px;
	}
}